-r default.txt
gunicorn
psycopg2-binary
sphinx
sphinx-autobuild
sphinx_rtd_theme
coverage
codacy-coverage
dj-database-url
freezegun
setuptools
django-cors-headers
boto3

# TODO: The git dependency below was commented out because it was causing issues.
# Need to investigate and find a suitable replacement or update.
# git+https://github.com/mwaaas/dynamodb-local-cloud-formation.git@4bc92a0430ec319dc3ce33e9fffadd6ba1c861a8

